<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

            
                <div class="sidebar">
                    <a class="active" href="#home">Bem vindo <%- readAdmId.nome %>!</a>
                    <a href="http://localhost:3000/api/read/usuario">Lista de Funcionarios</a>
                    <a href="http://localhost:3000/api/read/adm">Lista de administradores</a>
                    <a href="http://localhost:3000/api/registro/usuario">Adicionar Funcionario</a>
                    <a href="http://localhost:3000/api/registro/adm">Adicionar Administradores</a>
                    <a href="http://localhost:3000/api/adm/loginSenha/<%- readAdmId._id %>">Trocar Login e Senha</a>
                  </div>


    
<div class="row">
    <div class="col">
        <div class="grid-child2">
            <iframe src="https://calendar.google.com/calendar/embed?src=<%- readAdmId.email %>&ctz=America%2FSao_Paulo" style="border: 0px" border-radius="10px"; width="1700" height="900" frameborder="0" scrolling="no"></iframe>   

        </div>
    </div>
   

</div>
</div>
</div>
</body>
</html>